.whole {
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Traffolight"; 
  src: url("Traffolight.otf"); 
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
}

.intro {
  font-size: 15px;
  color: black;
  font-family: "Traffolight";
}

.big {
  font-size: 60px;
  color: #20B2AA;
  font-family: "Traffolight";
  transition: color 1s;
  -webkit-transition: color 1s;
  text-decoration: none;
}

.big:hover {
  color: black;
}

.soph {
  color: #20B2AA;
  font-style:bold;
  transition: color 1s;
  -webkit-transition: color 1s;
}

.soph:hover {
  color: black;
}

.image {
  display: inline-block;
  position: absolute;
  float: left;
  height: 150px;
  width: 150px;
  margin-left: 75px;
  z-index: 11;
}

.stanford-background {
  margin-top:50px;
  position: absolute;
  height: 150px;
  width: 300px;
  z-index: 1;
  background-color: #b4081e;
}

.stanford-description {
  display: inline-block;
  width: 500px;
  height: 150px;
  float: left;
  margin-left: 400px;
  margin-top: 50px;
  font-family: "Open Sans";
}

.stanford-link {
  box-shadow: inset 0px 0px 40px #F68B8B;
  color: #000000;
  text-decoration: none;
  transition: boxground-color 1.0s;
  -webkit-transition: background-color 1.0s;
  transition: color 1.0s;
  -webkit-transition: color 1.0s;
}

.stanford-link:hover {
  background-color: #b4081e;
  color: white;
}

.position {
  color: black;
  font-weight: lighter;
  font-family: "Open Sans";
  font-size: 12px;
}

.info {
  font-size: 12px;
}

.header {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  font-family: "Traffolight";
  box-shadow: inset 0px 0px 40px white;
  color: black;
  text-decoration: none;
  transition: box-shadow 1.0s;
  -webkit-transition: box-shadow 1.0s;
  z-index: 100;
}

.header:hover {
  box-shadow: inset 0px 0px 40px #20B2AA;
}

.home {
  margin-left: 700px;
}

.about {
  margin-left: 850px;
}

.project {
  margin-left: 1000px;
}

.kast-background {
  margin-top:250px;
  position: absolute;
  height: 150px;
  width: 300px;
  z-index: 1;
  background-color: #eded72;
}

.kast-image {
  width: 291.5px;
  height: 64.5px;
  margin-top: 42.75px;
  margin-left: 4.25px;
}

.kast-description {
  display: inline-block;
  width: 400px;
  height: 150px;
  float: left;
  margin-left: 400px;
  margin-top: 50px;
  font-family: "Open Sans";
}

.kast-link {
  box-shadow: inset 0px 0px 40px #eded72;
  color: #000000;
  text-decoration: none;
  transition: boxground-color 1.0s;
  -webkit-transition: background-color 1.0s;
  transition: color 1.0s;
  -webkit-transition: color 1.0s;
}

.kast-link:hover {
  background-color: #ffcc00;
  color: white;
}

.chs-background {
  margin-top:450px;
  position: absolute;
  height: 150px;
  width: 300px;
  z-index: 1;
  background-color: #ffb700;
}

.chs-image {
  width: 256px;
  height: 144px;
  margin-top: 3px;
  margin-left: 22px;
}

.chs-description {
  display: inline-block;
  width: 400px;
  height: 150px;
  float: left;
  margin-left: 400px;
  margin-top: 50px;
  font-family: "Open Sans";
}

.chs-link {
  box-shadow: inset 0px 0px 40px #ffb700;
  color: #000000;
  text-decoration: none;
  transition: boxground-color 1.0s;
  -webkit-transition: background-color 1.0s;
  transition: color 1.0s;
  -webkit-transition: color 1.0s;
}

.chs-link:hover {
  background-color: #e1a100;
  color: white;
}

.fbla-background {
  margin-top:650px;
  position: absolute;
  height: 150px;
  width: 300px;
  z-index: 1;
  background-color: #c9e6fa;
}

.fbla-image {
  width: 182px;
  height: 145.111111px;
  margin-top: 2.4444444444px;
  margin-left: 59px;
}

.fbla-description {
  display: inline-block;
  width: 400px;
  height: 150px;
  float: left;
  margin-left: 400px;
  margin-top: 50px;
  font-family: "Open Sans";
}

.fbla-link {
  box-shadow: inset 0px 0px 40px #c9e6fa;
  color: #000000;
  text-decoration: none;
  transition: boxground-color 1.0s;
  -webkit-transition: background-color 1.0s;
  transition: color 1.0s;
  -webkit-transition: color 1.0s;
}

.fbla-link:hover {
  background-color: #00529b;
  color: white;
}

.monkeys {
  width: 160px;
  height: 180px;
  margin-top: 500px;
  margin-left: 25px;
  position: fixed;
}

.hello {
  width: 80px;
  height: 80px;
  margin-top: 425px;
  margin-left: 150px;
  position: fixed;
}
